<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="#"
                  th:action="@{/update/{id}(id=${merchant.id})}"
                  th:object="${merchant}"
                  method="post">
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <label for="email">Description</label>
                <input type="text" th:field="*{description}" id="description" placeholder="Description">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                <label for="email">Status</label>
                <input type="text" th:field="*{status}" id="status" placeholder="Status">
                <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                <input type="submit" value="Update merchant">
            </form>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
